body {
  font-family: 'Roboto Mono', monospace; /* Military typewriter styled font */
  background-color: #2A2C2B;
  color: #EDEDED;
}

.navbar {
  background-color: #1A1A1D;
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: 1.5px;
}

.nav-link {
  font-weight: 400;
  letter-spacing: 1px;
}

header {
  background: #0F0F0F;
  color: #EDEDED;
  padding: 80px 0;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.card-body h5 {
  font-weight: 700;
  color: #FFF500; /* Yellowish military-style color */
}

.card-body .description {
  display: none;
  font-size: 14px;
  color: #FFF;
}

.project-card:hover .description {
  display: block;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

section {
  padding: 40px 0;
}

#portfolio h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #FFF500;
}
.contact-section {
  width: 28%; /* Adjust width for contact */
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.contact-section h3 {
  color: #33aaff;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

.contact-section button {
  background-color: #33aaff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #0088ff;
}